<!-- Footer Component -->
<footer class="site-footer bg-light mt-5 py-4">
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <h5>About Multi-Tools</h5>
                <p>A collection of 100+ free online tools to help with everyday tasks. From image conversion to calculators, we've got you covered.</p>
            </div>
            <div class="col-md-4">
                <h5>Quick Links</h5>
                <ul class="list-unstyled">
                    <li><a href="/all-web-tools">Home</a></li>
                    <li><a href="/all-web-tools">Image Tools</a></li>
                    <li><a href="/all-web-tools">SEO Tools</a></li>
                    <li><a href="/all-web-tools">Text Tools</a></li>
                    <!-- More links -->
                </ul>
            </div>
            <div class="col-md-4">
                <h5>Connect With Us</h5>
                <div class="social-links">
                    <a href="#" class="me-2"><i class="bi bi-facebook"></i></a>
                    <a href="#" class="me-2"><i class="bi bi-twitter"></i></a>
                    <a href="#" class="me-2"><i class="bi bi-instagram"></i></a>
                    <a href="#" class="me-2"><i class="bi bi-linkedin"></i></a>
                </div>
            </div>
        </div>
        <hr>
        <div class="row">
            <div class="col-md-6">
                <p>&copy; 2025 Multi-Tools by Pawan Debian Empire (PDE). All rights reserved.</p>
            </div>
            <div class="col-md-6 text-md-end">
                <p>
                    <a href="#">Privacy Policy</a> | 
                    <a href="#">Terms of Service</a>
                </p>
            </div>
        </div>
        <!-- Ad Space -->
        <div class="row mt-3">
            <div class="col-12 text-center">
                <div class="ad-container">
                    <!-- Ad code will go here -->
                    <div class="placeholder-ad">
                        <p>Advertisement Space</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>
