<!-- Header Component -->
<header class="site-header">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container">
            <a class="navbar-brand" href="/">
                <h1>Multi-Tools</h1>
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav me-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="/index.html">Home</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="imageToolsDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            Image Tools
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="imageToolsDropdown">
                            <li><a class="dropdown-item" href="/all-web-tools/tools/image-tools/image-to-png.html">Image to PNG</a></li>
                            <li><a class="dropdown-item" href="/all-web-tools/tools/image-tools/image-to-jpg.html">Image to JPG</a></li>
                            <li><a class="dropdown-item" href="/all-web-tools/tools/image-tools/image-resizer.html">Image Resizer</a></li>
                            <!-- More image tools -->
                        </ul>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="seoToolsDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            SEO Tools
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="seoToolsDropdown">
                            <li><a class="dropdown-item" href="/all-web-tools/tools/seo-tools/meta-tag-generator.html">Meta Tag Generator</a></li>
                            <li><a class="dropdown-item" href="/all-web-tools/tools/seo-tools/keyword-density-checker.html">Keyword Density Checker</a></li>
                            <!-- More SEO tools -->
                        </ul>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="calculatorsDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            Calculators
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="calculatorsDropdown">
                            <li><a class="dropdown-item" href="/all-web-tools/tools/calculators/age-calculator.html">Age Calculator</a></li>
                            <li><a class="dropdown-item" href="/all-web-tools/tools/calculators/bmi-calculator.html">BMI Calculator</a></li>
                            <li><a class="dropdown-item" href="/all-web-tools/tools/calculators/discount-calculator.html">Discount Calculator</a></li>
                            <li><a class="dropdown-item" href="/all-web-tools/tools/calculators/loan-emi-calculator.html">Loan EMI Calculator</a></li>
                            <li><a class="dropdown-item" href="/all-web-tools/tools/calculators/percentage-calculator.html">Percentage Calculator</a></li>
                            <a class="/all-web-toolsdropdown-item" href="/tools/calculators/tip-calculator.html">Tip Calculator</a></li>
                        </ul>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="developerToolsDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            Developer Tools
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="developerToolsDropdown">
                            <li><a class="dropdown-item" href="/all-web-tools/tools/developer-tools/base64-encoder-decoder.html">Base64 Encoder/Decoder</a></li>
                            <li><a class="dropdown-item" href="/all-web-tools/tools/developer-tools/css-minifier.html">CSS Minifier</a></li>
                            <li><a class="dropdown-item" href="/all-web-tools/tools/developer-tools/html-to-markdown.html">HTML to Markdown</a></li>
                            <li><a class="dropdown-item" href="/all-web-tools/tools/developer-tools/json-formatter-standalone.html">JSON Formatter</a></li>
                        </ul>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="securityToolsDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            Security Tools
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="securityToolsDropdown">
                            <li><a class="dropdown-item" href="/all-web-tools/tools/security-tools/md5-hash-generator.html">MD5 Hash Generator</a></li>
                            <li><a class="dropdown-item" href="/all-web-tools/tools/security-tools/password-generator.html">Password Generator</a></li>
                            <li><a class="dropdown-item" href="/all-web-tools/tools/security-tools/sha256-hash-generator.html">SHA256 Hash Generator</a></li>
                        </ul>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="socialMediaToolsDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            Social Media Tools
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="socialMediaToolsDropdown">
                            <li><a class="dropdown-item" href="/all-web-tools/tools/social-media-tools/instagram-photo-downloader.html">Instagram Photo Downloader</a></li>
                            <li><a class="dropdown-item" href="/all-web-tools/tools/social-media-tools/youtube-thumbnail-downloader.html">YouTube Thumbnail Downloader</a></li>
                        </ul>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="unitConvertersDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            Unit Converters
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="unitConvertersDropdown">
                            <li><a class="dropdown-item" href="/all-web-tools/tools/unit-converters/length-converter.html">Length Converter</a></li>
                            <li><a class="dropdown-item" href="/all-web-tools/tools/unit-converters/temperature-converter.html">Temperature Converter</a></li>
                            <li><a class="dropdown-item" href="/all-web-tools/tools/unit-converters/weight-converter.html">Weight Converter</a></li>
                        </ul>
                    </li>
                   
                </ul>
                <form class="d-flex" id="search-form">
                    <input class="form-control me-2" type="search" placeholder="Search tools..." aria-label="Search" id="search-input">
                    <button class="btn btn-outline-success" type="submit">Search</button>
                </form>
            </div>
        </div>
    </nav>
</header>
